[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
pytest = "*"
pycodestyle = "*"
pylint = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pyyaml = "*"
python-dotenv = "*"
sqlalchemy-filters = "*"
wheel = "*"

[requires]
python_version = "3.6"
